#Background {
    background-color: #fabd69;
}

.heading {
    background-color: #fabd69;
    /*font-family: Permanent Marker, Work Sans, sans-serif;8 */
    font-weight: bolder;
    font-size: smaller;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.degree {
    font-weight: bolder;
}

h3 {
    font-size: 1.25rem;
    font-weight: bolder;
}

.own {
    cursor: pointer;
}